<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>

<div class="recipes_container container-fluid-mobile">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Główna</a></li>
          <li class="breadcrumb-item active" aria-current="page">Desery</li>
        </ol>
    </nav>

    <div class="recipes">
        <% recipes.forEach(recipe => { %>
        <div class="card">
            <a href="/recipes/<%= recipe._id %>">
                <img src="\imgs\<%= recipe.image %>" class="card-img-top" alt="<%= recipe.image %>">
                <div class="card-body">
                        <h4><%= recipe.title %></h4>
                        <p class="card-text">
                            <span><%= recipe.category %></span>
                            <span><%= recipe.time %> min</span>
                            <span><%= recipe.created.getDate() %> / <%= recipe.created.getMonth()+1 %> / <%= recipe.created.getFullYear() %></span>
                        </p>
                </div>
            </a>
        </div>
        <% }) %> 
    </div>
</div>

<%- include('partials/footer'); -%>