<%- include('partials/header'); -%>
<title>Ulubione przepisy - Cookbook</title>
<meta name="description" content="Twoje ulubione przepisy w jednym miejscu!">
</head>
<body id="google_translate_element">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDZ84VJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<%- include('partials/nav'); -%>

<div class="wrapper">
    <section class="sidebar">
        <img src="/imgs/chef.png" alt="logo użytkownika">
        <h3>Witaj <%= user.username %></h3>
        <span class="user_icons">
            <a href="/user"><i class="fas fa-address-book"></i></a>
            <a href="/add"><i class="fas fa-plus-circle"></i></a>
            <a href="/shopList"><i class="fas fa-cart-plus"></i></a>
            <a href="/planer"><i class="fas fa-calendar-check"></i></a>
        </span>
        
        <p>
            W swojej książce kucharskiej masz już: <span class='color'><%= user.recipes.length %>
            <% if(user.recipes.length === 1) { %>
                przepis.</span>
            <% } else if(user.recipes.length > 1 && user.recipes.length < 5) { %>
                przepisy.</span>
            <% } else { %>
                przepisów.</span>
            <% } %>
        </p>
        <% if(user.recipes.length === 0) { %>
            <p>
                Nie martw się! :) Możesz kliknąć w obrazek z plusem lub kliknąć tutaj: <a class="add_button" href="/add">Dodaj</a>
            </p>
        <% } %>
        <% if(user.favorite.length === 0) { %>
            <p>
                Niestety jeszcze nie masz ulubionych przepisów.
            </p>
        <% } %>
        <a href="/logout">Wyloguj</a>
    </section>

    <section class="recipes_container cookbook">

        <div id="favorite" class="recipes">
            <% favorite.forEach(recipe => { %>
                <form action="/delete_favorite" method="post">
                <div class="card">
                    <a href="/recipes/<%= recipe._id %>">
                        <img src="https://img-store223.s3.amazonaws.com/<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
                        <div class="card-body">
                                <h4><%= recipe.title %></h4>
                        </div>
                    </a>
                    <div class="overall_buttons">
                        <button type="submit" class="delete_button" name="checkbox" value="<%= recipe._id %>"><i class="fas fa-trash-alt"></i> Usuń</button>
                    </div>
                </div>
                </form>
                <% }); %>
            </div>
        
    </section>

</div>

<%- include('partials/footer'); -%>