<%- include('partials/header'); -%>
<title>Pyszne, sprawdzone przepisy - Cookbook</title>
<meta name="description" content="Sprawdź nasze przepisy na polskie dania - szybkie, łatwe i pyszne. Znajdziesz u nas wiele pomysłów na obiad oraz inne pyszne przepisy. Odkryj nasze szybkie przepisy na dania z mięsa, ryby i wiele innych pyszności. Nie czekaj, zobacz sam!">
</head>

<body id="google_translate_element">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDZ84VJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<%- include('partials/nav'); -%>

    <div id="main_background">
        <div id="main_banner">
            <img class="recipeIcon" src="./imgs/przepis.svg" alt="kuchnia, gotowanie" />
            <h2 id="welcome">Witaj na stronie cookbook.com.pl</h2>
            <h1 id="name">Szukasz nowych pomysłów na pyszne i zdrowe posiłki? Na naszej stronie znajdziesz wiele inspiracji kulinarnych oraz praktycznych porad dotyczących gotowania. Zapraszamy do zapoznania się z naszymi przepisami, które są doskonałym rozwiązaniem dla tych, którzy cenią sobie smak i zdrowie </span> <i class="far fa-smile"></i></h1>
            <p>Każdy z przepisów jest opisany w sposób przejrzysty i zrozumiały, dzięki czemu nawet początkujący kucharze będą mogli w łatwy sposób przygotować smaczne danie.</p><br>
            <p>Nie czekaj dłużej, <a href="/login"><span class="color">zaloguj się</span></a> aby <strong>dodać nowy przepis</strong>, dodawać przepisy innych użytkowników do ulubionych oraz stworzyć własną listę zakupów!</p>
        </div>
        <img class="imgOnSmallDevices" src="\imgs\schabowy z ziemniakami.jpg" alt="Schabowy z ziemniakami">
        <img class="main_img" src="\imgs\Schabowy.png" alt="obrazek kuchnia, książka kucharska">
    </div>
    <!---------------------- Category ----------------------------------------->
<div class="container-fluid-mobile">
    <div class="overall">
        <div id="category">
            <h2>Kategorie przepisów</h2>
            <p>Możesz wybrać z wielu kategorii:</p>
            <%- include('partials/category'); -%>
        </div>

    <!----------------------- Random recipe  ------------------------------->
        <div id="recipe_of_the_day">
            <h2>Losowy przepis</h2>
            <br>
            <div class="card card_random">
                <a href="/przepisy/<%= random._id %>">
                    <img src="https://img-store223.s3.amazonaws.com/<%= random.image %>" class="card-img-top" alt="<%= random.title %>">
                    <div class="card-body">
                            <h4><%= random.title %></h4>
                            <p class="card-text">
                                <span><%= random.category %></span>
                                <span><%= random.time %> min</span>
                                <span><i class="fas fa-user"></i> <%= random.publisher %></span>
                            </p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!----------------------- Latest  ------------------------------->
    <div class="recipes_container latest_container">
        <h2>Ostatnio dodane 20 przepisów</h2> 
        <div class='all'>
            <p>Nie zapomnij odwiedzać naszej strony regularnie, aby pozostać na bieżąco z naszymi nowymi przepisami i cieszyć się pysznymi posiłkami, które możesz przygotować w domu!<br>
            Wszystkie przepisy -> kliknij <a href="/wszystkie-przepisy/1">tutaj.</a></p>
        </div>
        <%- include('partials/recipe'); -%>
        <div class='all'>
            <p>
                Jeśli jednak nie udało Ci się znaleźć dokładnie tego, czego szukasz, nie martw się - mamy dla Ciebie rozwiązanie! <a href="/wszystkie-przepisy/1">Kliknij na link do wszystkich przepisów</a>, aby zobaczyć pełną listę naszych propozycji. Znajdziesz tam wiele różnych potraw, od szybkich i łatwych do przygotowania dań po wykwintne specjały, które zrobią wrażenie na Twoich gościach.
                <br /><br />
                Nie wahaj się eksperymentować z różnymi przepisami i dostosować je do swojego gustu i preferencji. Z nami gotowanie stanie się prawdziwą przyjemnością, a Twoje posiłki będą smakować jeszcze lepiej!
            </p>
        </div>
    </div>

</div>
    
<%- include('partials/footer_newsletter'); -%>
<%- include('partials/footer'); -%>