<%- include('partials/header'); -%>
<title>Pyszne, sprawdzone przepisy - Cookbook</title>
</head>
<body id="google_translate_element">
<%- include('partials/nav'); -%>

    <div id="main_background">
        <div id="main_banner">
            <h1 id="name">Witaj! Szukasz <strong>pomysu na obiad?</strong> A mo偶e sprawdzisz przepis na naleniki lub gofry? Albo masz ochot na deser albo chcesz upiec tort? </span> <i class="far fa-smile"></i></h1>
            <p>Tutaj znajdziesz swoje kulinarne inspiracje!</p>
            <p>Nie znajdziesz tu dugich opis贸w zanim trafisz na skadniki czy opis przygotowania!</p><br>
            <p><a href="/login"><span class="color">Zaloguj si</span></a> aby <strong>doda nowy przepis</strong>, dodawa przepisy innych u偶ytkownik贸w do ulubionych oraz stworzy wasn list zakup贸w! </p>
        </div>
        <img class="main_img" src="/imgs/cookbook.jpg" alt="obrazek kuchnia, ksi偶ka kucharska">
    </div>
    <!---------------------- Category ----------------------------------------->
<div class="container-fluid-mobile">
    <div class="overall">
        <div id="category">
            <h2>Kategorie przepis贸w</h2>
            <p>Mo偶esz wybra z wielu kategorii:</p>
            <%- include('partials/category'); -%>
        </div>

    <!----------------------- Random recipe  ------------------------------->
        <div id="recipe_of_the_day">
            <h2>Losowy przepis</h2>
            <br>
            <div class="card card_random">
                <a href="/recipes/<%= random._id %>">
                    <img src="https://img-store223.s3.amazonaws.com/<%= random.image %>" class="card-img-top" alt="<%= random.title %>">
                    <div class="card-body">
                            <h4><%= random.title %></h4>
                            <p class="card-text">
                                <span><%= random.category %></span>
                                <span><%= random.time %> min</span>
                                <span><i class="fas fa-user"></i> <%= random.publisher %></span>
                            </p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!----------------------- Latest  ------------------------------->
    <div class="recipes_container latest_container">
        <h2>Ostatnio dodane 20 przepis贸w</h2> 
        <div class='all'>
            <p>Nie wiesz co na obiad? Potrzebujesz pomys na saatk? A mo偶e chcesz ugotowa zup?<br>
            Te i inne sprawdzone recepty na pyszne dania znajdziesz poni偶ej :)<br>
            Wszystkie przepisy -> kliknij <a href="/all/1">tutaj.</a></p>
        </div>
        <%- include('partials/recipe'); -%>
        <div class='all'>
            <p>Je偶eli chcesz zobaczy wszystkie przepisy, kliknij <a href="/all/1">tutaj.</a></p>
        </div>
    </div>

</div>
    
<%- include('partials/footer_newsletter'); -%>
<%- include('partials/footer'); -%>