<%- include('partials/header'); -%>
<title>Wyszukaj przepis - BookToCook</title>
</head>
<body id="google_translate_element">
<%- include('partials/nav'); -%>

<div class="recipes_container container-fluid-mobile">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Główna</a></li>
          <li class="breadcrumb-item active" aria-current="page">Wyszukaj</li>
        </ol>
    </nav>

    <div class="recipes">
    <% if(found != "") { %>
    <% found.forEach(recipe => { %>
        <div class="card">
            <a href="/recipes/<%= recipe._id %>">
                <img src="https://img-store223.s3.amazonaws.com/<%= recipe.image %>" class="card-img-top" alt="<%= recipe.image %>">
                <div class="card-body">
                        <h4><%= recipe.title %></h4>
                        <p class="card-text">
                            <span><%= recipe.category %></span>
                            <span><%= recipe.created.getDate() %> / <%= recipe.created.getMonth()+1 %> / <%= recipe.created.getFullYear() %></span>
                        </p>
                </div>
            </a>
        </div>
        <% }); %> 
        <% } else { %>
            <p>Nic nie znaleziono :(</p>
        <% } %>
    </div>
    
</div>

<%- include('partials/footer_newsletter'); -%>
<%- include('partials/footer'); -%>