<%- include('partials/header'); -%>
<title>Lista zakupów - BookToCook</title>
</head>
<body id="google_translate_element">
<%- include('partials/nav'); -%>

<div class="recipes_container container-fluid-mobile">
    <div class="background">

    <div class="box style-shop-list">
        <div class="box" id="heading">
          <h2> Lista zakupów: </h2>
        </div>
        <p>
            <% if (newListItems.length === 0) { %>
                Niestety nie masz jeszcze nic na liście zakupów.<br>
                Wpisz nazwę produktu i dodaj do listy :)
            <% } %>
        </p>
        <div class="shopping_list">

        <% newListItems.forEach(items => { %>
    
        <form action="/delete_item_list" method="POST">
          <div class="item">
            <label class="checkbox"> 
            <input id="focusInput" type="checkbox" name="checkbox" value="<%= items._id %>" onChange="this.form.submit()">
                <p class="item_list"><%=  items.item  %></p>
            </label>
          </div>
        </form>

        <% }); %>

        </div>
    
          <form class="item" action="shopList" method="post">
            <input type="text" name="newItem" autocomplete="off">
            <button type="submit" class="btn btn-success addToShoppingList" name="list">Dodaj</button>
          </form>
      </div>
    </div>
</div>
<%- include('partials/footer_newsletter'); -%>
<%- include('partials/footer'); -%>