<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>

<div class="recipes_container latest_container">
<h1>Przepisy użytkownika <%= username %></h1>  
<%- include('partials/recipe'); -%>
</div>
<%- include('partials/footer'); -%>